* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(20, 33, 64);
    --secondary-color: #2e81df;
    --accent-color: rgb(167, 255, 193);
    --soft-shadow: 0px 5px 25px rgb(36, 58, 109);
    --border-radius: 10px;
}

.numans-regular {
  font-family: "Numans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "numans", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: var(--secondary-color);
}

.main-header {
    background-color: rgb(192, 192, 192);
    padding: 5px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-size: 2rem;
    padding: 20px;
}

.main-nav {
    margin: 0 auto;
}

.nav-list {
    text-align: right;
    display: block;
    list-style: decimal;
}

.nav-list li {
    display: inline;
    margin-right: 2px;
    padding: 20px;

}

.nav-list a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;

}

.nav-list a:hover {
    color: var(--accent-color);
}

.main-content {
    margin: 150px 100px;
}

.section {
    display: block;
    margin: 40px 0px;
}

.section.active {
    display: block;
}


.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-image {
    max-width: 400px;
    height: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-title {
    font-size: 4rem;
    padding: 20px;
    color: rgb(20, 33, 64);
}

.wave::before {
    content: '👋';
}

.accent {
    color: var(--accent-color);
}

.hero-subtitle {
    font-size: 1rem;
    color: rgb(11, 22, 50);
    padding: 20px;
}

.hero-image {
    width: 500px;
    height: auto;
}

.projects-section {
    padding: 20px;
    margin: 0 auto;
}

.project-row {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 90px;
    min-height: 100vh;
}

.project-card {
    position: relative;
    width: 500px;
    background-color: var(--main-color);
    box-shadow: var(--soft-shadow);
    padding: 20px;
    border-radius: 10px;
}

.project-row:nth-of-type(even) {
    flex-direction: row-reverse;
}

.project-row:nth-of-type(even) .project-card{
    margin-left: -120px;
}

.project-row:nth-of-type(odd) .project-card{
    margin-right: -120px;
}

.projects-container img {
    width: 800px;
    box-shadow: var(--soft-shadow);
    border-radius: var(--border-radius);
}

.project-content h2 {
    min-height: 100vh;
}


.project-card h3 {
    font-size: 40px;
}

.projects-section h2 {
    font-size: 30px;
    text-align: left;
    padding:20px;
}

.project-details {
    display: none;
}

.button-section {
    display: flex;
    justify-content: center;
}

.contact-button:hover {
    cursor: pointer;
    color: var(--secondary-color)
}

.contact-button:active {
    transform: translate(5px, 5px);
    background-color: var(--main-color);
    box-shadow:15px 15px 25px rgb(36, 58, 109);
    transform: scale(0.95);
}

.contact-button {
    transform: scale(0.95);
    font-size: 4rem;
    color: white;
    padding: 15px 80px;
    background-color: var(--main-color);
    border-radius: 100px;
    box-shadow:30px 30px 25px rgb(36, 58, 109);
}

.contact-section {
    padding: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 400px;
}

.contact-section h3 {
    font-size: 4rem;
    padding: 15px 80px;
    background-color: var(--main-color);
    border-radius: 100px;
}

.about-section {
    padding: 20px;
    margin: 0 auto;
}

.about-section h4 {
    font-size: 30px;
    text-align: left;
    padding:20px;
    box-shadow:#d9ffec;
}



.main-footer {
    background-color: rgb(192, 192, 192);
    padding: 3px;
    margin: 0 auto;
    text-align: left;
    font-style: italic;
    color: white;
    border-top: 10px solid #d9ffec;

}

.footer-content {
    font-size: 15px;
}


@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    .site-title {
        margin-bottom: 10px;
        text-align: center;
    }

    .nav-list {
        justify-content: space-between;
        background-color: #91fda1;
    }

    .nav-list li {
    display:inline-block;
    margin-right: 2px;
    padding: 0.75rem;

    }

    .nav-list a:hover {
    color: rgb(68, 68, 68);
}


    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        align-items: center;
    }

    .hero-image {
        width: 90%;
        margin-top: 20px;
    }
}